ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 20px, 0px, 20px, 0px;
  overflow: hidden;
  background-color: #333;
}

ul.navbar li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

li a:hover {
  background-color: #111;
}

h1 {
  padding: 20px 10px 30px 10px;
  font-family: 'Tahoma';
}

body {
  text-align: center;
  color: black;
  font-size: 25px;
  background-color: #f0ebe5;
  font-family: 'Avenir';
}

#picture,
img {
  width: 100%;
  height: 50%;
}

iframe.form {
  padding: 50px, 0px, 0px, 0px;
}

.list-no-bullet {
  list-style: none;
}

.benefits-list {
  list-style-position: inside;
}
