.w3-content.w3-display-container {
  min-width: 980px;
  max-width: initial;
}
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0px, 0px, 0px, 0px;
  overflow: hidden;
  background-color: #333;
  font-family: 'Avenir';
}
ul.navbar li {
  float: left;
  font-family: 'Avenir';
}

ul.centred_benefits_list li {
  text-align: center;
  padding: 50px, 0px, 100px, 0px;
}

ul li {
  text-align: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

li a:hover {
  background-color: #111;
}

h1 {
  padding: 20px 10px 30px 10px;
  font-family: 'Avenir';
  background-color: #111;
  color: white;
  font-size: 100px;
}

h2 {
  text-align: center;
  padding: 0px 0px 0px 50px;
font-weight: bold;
background-color: #101;
color: white;
}

h3 {
  font-size:50px;
}
body {
  text-align: center;
  color: black;
  font-size: 25px;
  background-color: #f0ebe5;
  font-family: 'Avenir';
  padding: 0px 50px 0px 50px;
}

#picture,
img {
  width: 100%;
  height: 50%;
}

iframe.form {
  padding: 50px, 0px, 0px, 0px;
}

.list-no-bullet {
  list-style: none;
}

.benefits-list {
  list-style-position: inside;
}
